@media only screen and (max-width: 950px) {

    /*General Configuration*/
    body {
        font-size: 14px;
    }

    /*Gallery*/
    .gallery {
        flex-direction: column;
    }

    .gallery-card {
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {

    /*Services*/
    .services {
        height: 100%;
    }

    .services-gallery {
        flex-direction: column;
    }

    .services-gallery-card {
        width: 90%;
        height: 25%;
        flex-direction: column;
    }

    .services-gallery-card-btn {
        margin-bottom: 1%;
    }

    /*Contact*/
    .fa {
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {

    /*Home*/
    .home-text {
        top: 20%;
        left: 20%;
        transform: translate(-10%, -10%);
    }

    /*About*/
    .about-text {
        top: 20%;
        left: 20%;
        transform: translate(-10%, -10%);
    }

    /*Contact*/
    .fa {
        font-size: 2.5em;
    }

    /*Contact-Form*/
    .contact-form {
        width: 80%;
        justify-content: center;
        margin-left: 5%;
    }

    .social-media ul {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        position: relative;
    }
}

@media only screen and (max-width: 550px) {

    /*General Configuration*/
    body {
        font-size: 12px;
    }

    #contact-submit {
        letter-spacing: 0.5px;
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {

    /*Menu*/
    #menu-btn-logo {
        display: none;
    }

    #show-menu-btn {
        display: block;
    }

    .menu li a {
        display: none;
    }

    /*Menu SideDown*/
    #menu-sidedown {
        display: none;
    }
}

@media only screen and (max-width: 400px) {

    /*Contact-Form*/
    .contact-form {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 300px) {

    /*Home*/
    .home-text {
        top: 10%;
        left: 10%;
        transform: translate(-5%, -5%);
    }

    /*About*/
    .about-text {
        top: 10%;
        left: 10%;
        transform: translate(-5%, -5%);
    }

    /*Contact-Form*/
    .contact-form {
        margin-left: 0.05%;
    }

    .social-media ul {
        width: 75%;
        justify-content: space-evenly;
    }

    .fa {
        font-size: 1.8em;
    }
}